.DS_Store
.Rapp.history
.~lock.*

/arbeit.*
!/arbeit.Rnw
/energy/010-original-downloads
!/energy/010-original-downloads/*.bz2
/energy/050-aux
/figure
/node_modules
/population/010-original-downloads
!/population/010-original-downloads/*.bz2
/population/050-aux
